<!DOCTYPE html>
<html>
<head>
    <title>MAD LIBS FORM!</title>
    <link rel="stylesheet" href="./static/madlibs.css">
</head>
<body>
    <form action="/madlib" method="post">
        <label>What's your name? <input type="text" name="person"></label> <br>
        Select favorite color:
        <select name="color">
            <option value="mint green">Mint Green</option>
            <option value="regular green">Regular Green</option>
            <option value="lavender">Lavender</option>
            <option value="cobalt"> Cobalt</option>
        </select> <br>
        <label>Enter noun <input type="text" name="noun"></label> <br>      
        <label>Enter adjective <input type="text" name="adjective"></label> <br>
        Select verb: 
        <input type="checkbox" name="verb" value="eats">eating
        <input type="checkbox" name="verb" value="pooping"> pooping
        <input type="checkbox" name="verb" value="studying"> studying
        <input type="checkbox" name="verb" value="excelling at life"> excelling at life <br>
        <input type="submit">
    </form>
</body>
</html>